.sidebar {
    width: 50px;  /* Sidebar width */
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.2rem;
    /* transition: transform 0.3s; */
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar nav ul li {
    margin: 1rem 0;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: hsl(206, 71%, 35%);
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.sidebar nav ul li a:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: hsl(206, 71%, 35%);
    color: #fff;
    border-radius: 5px;
}

.sidebar nav ul li a span {
    margin-left: 0.5rem;
    display: none;
}

.menu-link {
    margin-top: 40px;
}